/*
 *		Color layout file.
 *		2018-01-09 usp - created
 *		2018-06-01 usp - section-title added
 */

	
a { color: #6080C0; }

body { color: #606060; }

code {	color: #A06060 }

dl.description-list dt { color: #60A0A0; }

div.auth-info { color: #909090; }

figcaption { color: #808080; }

h1 { color: #607090;  }
h2 { color: #607090;  }
h3 { color: #607090;  }
h4 { color: #607090;  }
h5 { color: #606068; }
h6 { color: #606068; }

input { color: #606060; }

ul.toc-list a { color: #607090; }

.info  { border-color:  #80C0FF; }

.instructions span.literal { color: #637292; }

.note { border-color:  #FFC080; }

.section-title  { color: #607090;  }

.tip { border-color:  #C0E0B0; }
