h2, h3, h4, h5, h6 {
	border: none;
	margin-bottom: 5px;
	}

[cbs] {
	background-position-y: center;
	background-size: 32px;
	background-repeat: no-repeat;
	padding-left: 40px;
	line-height: 32px;
	transition: xheight 1s linear, margin-top 1s linear;
}

[cbs='0'] {
	background-image: url(fold/orange-minus.svg);
	width: auto;
	height: auto;
}

[cbs='1'] {
	background-image: url(fold/orange-plus.svg);
}

[cbs='1'] + div + [cbs='1'] {
	margin-top: 5px;
}

[cbs='1'] + div {
	overflow: hidden;
	width: 0px;
	height: 0px;
}