
body {
    font-family: "Segoe UI", Helvetica, Arial, Sans-Serif;
    color: #808080;
    padding-left: 40px;
	padding-bottom: 60px;
	line-height: 170%;
	}

figcaption {
	font-family: "Times New Roman" ;
	font-style: italic;
	}

figcaption + table {
	margin-top: 5px;
	}

gui {
	color: green;
	font-family: "Palatino Linotype";
	}

h1, h2, h3, h4, h5, h6 {
	color: #A0A0A0;
	margin-top: 40px;
	}

ol li {
	margin-top: 10px;
	margin-bottom: 10px;
	}

table { 
	margin-top: 20px;
	margin-bottom: 20px;
	}

table[flat-borders] {
	border: 2px solid silver;
	border-collapse: collapse;
	}

table[flat-borders] thead {
	background-color: #F0F0F0;
	}

table[flat-borders] td {
	border: 2px solid silver;
	padding: 3px 5px 3px 5px;
	}

[indent] {
	margin-left: 20px;
	}

[listing] {
	white-space: pre;
	font-family: "Times New Roman";
	border: 1px solid silver;
	padding: 10px;
	}