/*  
 * 		2014-04-01 usp created. 
 *		2015-03-08 usp - Listing padding fine-tuned.
 *		2015-03-16 usp - pre element scrolls when overflowing.
 *		2015-05-25 usp - Moved to new root inc folder. Updates.
 *		2016-02-01 usp - div.line and div.boxed modified.
 *		2016-09-09 usp - reorganized. 
 *		2016-12-20 usp - Program listing styles overhauled. New style .srcbox introduced.
 */

.code { 
	font-family: Courier New, Monospace; 
	white-space: pre; 
}
	
	/* * * * Program Listing Styles * * * */
	
.listing {
	font-family: Palatino Linotype, Times New Roman, Serif; 
	color: #808080;
	margin-bottom: 20px;
	padding: 5px 5px 10px 5px;
}

.listing.hscroll {
	white-space: pre;
	overflow-x: auto;
}

	/* * * * Default Sourcecode and Listing Box * * * */

.srcbox {
	/* combines the .listing .hscroll and .boxed styles */
	font-family: Palatino Linotype, Times New Roman, Serif; 
	color: #8080A0;
	margin-bottom: 20px;
	padding: 5px 5px 10px 5px;
	white-space: pre;
	overflow-x: auto;
	border: solid 1px silver;
}

	/* * * * Program Listing * * * */

xdiv.listing {
	font-family: Palatino Linotype, Times New Roman, Serif; 
	color: #808080;
	margin-bottom: 20px;
}

xdiv.listbox {
	font-family: Palatino Linotype, Times New Roman, Serif; 
	color: #808080;
	margin-bottom: 20px;
	border-style: solid; 
	border-width: 1px; 
	border-color: silver; 
	padding: 10px;
	overflow-x: auto; 
	overflow-y: visible;
	}

xdiv.listing.boxed {
	padding-bottom: 0px;
}

div.listing pre {
	font-family: Palatino Linotype, Times New Roman, serif;
	font-size: 100%;
	font-style: normal;
	line-height: 150%;
	color: #507060;
}

xdiv.listing.boxed pre {
	margin-top: 0px;
	margin-bottom: 0px;
	padding-bottom: 10px;
}

xdiv.hscroll pre {
	overflow-x: auto;
	}

xdiv.lined pre {
	border-top: 1px solid #507080;
	border-left: none;
	border-bottom: 1px solid #507080;
	border-right: none;
}

	/* * * * Program Listing Box * * * */

*.listingbox {
	font-family: Palatino Linotype, Times New Roman, Serif; 
	color: #808080;
	margin-bottom: 20px;
	border-style: solid; 
	border-width: 1px; 
	border-color: silver; 
	padding: 10px;
	overflow-x: auto; 
	overflow-y: visible;
	}
	
*.listingbox pre {
	font-family: Palatino Linotype, Times New Roman, serif;
	font-size: 100%;
	font-style: normal;
	line-height: 150%;
	color: #507060;
	margin-top: 0px;
	margin-bottom: 10px;
}

*.listingbox.error {  /* used for error outputs */
	border-color: #F09040;
}

code {
	font-family: "Courier New";
	color: #604040;
}

kbd { 
	font-family: "Courier New"; 
	font-size: 103%; 
	color: #30A040;
	}

span.attribute { color: purple; }
span.at { color: purple; }
span.highlight { color: #D08000; }
span.hl { color: #D08000; }
span.comment { color: #70C070; }
span.cm { color: #70C070; } 
span.dtype { color: blue; }
span.dt { color: blue; }
span.makro { color: purple; }
span.mk { color: purple; }
span.keyword { color: blue; }
span.kw { color: blue; }

tt { 
	font-family: Georgia, 'Times New Roman', Times, serif; 
	font-style: normal;
	font-size: 103%; 
	color: #3080A0;
	}
	
	/* * * Key Word Styling * * */
	
lkw {
	font-family: Courier New, Monospace;
	color: brown;
	}
	
gui {
	font-family: Palatino Linotype, Times New Roman, Serif; 
	font-style: italic;
	font-size: 103%; 
	color: #30A040;
	}